@import url(base.css);
/* 头部开始 */
header{
    width: 1349px;
    height: 42px;
    background-color: #F1F1F1;
}
header .row{
    width: 1172px;
    height: 42px;
    margin: 0 auto;
}
header .row a{
    float: right;
    color: #666;
    font-size: 13px;
    margin-right: 5px;
    font-family: "microsoft yahei";
    padding: 0 5px;
    line-height: 42px;
    transition: all 0.5s;
}
header .row a:hover{
    background-color: #0071D5;
    color: #fff;
}
/* 头部结束 */
/* 固定栏开始 */
.fix{
    width: 200px;
    height: 240px;
    position: fixed;
    right: -20px;
    bottom:70px;
    z-index: 10;
}
.fix .son{
    width: 180px;
    height: 60px;
}
.fix .son img{
    float: right;
}
/* 固定栏结束 */
/* list开始 */
.list{
    width: 1349px;
    height: auto;
    margin: 0 auto;
}
.list .navbar{
    width: 1349px;
    height: 70px;
}
.list .navbar  .row{
    width: 1172px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
.list .navbar  .row .logo{
    display: block;
    width: 295px;
    height: 70px;
    padding: 10px 0;
}
.list .navbar  .row .right{
    width: 875px;
    height: 70px;
}
.list .navbar  .row .right .we{
    float: right;
    padding: 25px 20px;
    font-size: 14px;
    font-weight: normal;
    font-family: "microsoft yahei";
    color: #333;
}
.list .navbar  .row .right .we .iconfont{
    font-size: 11px;
}
.list .navbar  .row .right .we:hover{
    background-color: #0071D5;
    color: #fff;
    cursor: pointer;
    overflow: visible;
}
.list .navbar  .row .right .we2{
    color:#005bac;
    font-weight: bold;
}
.list .navbar  .row .right .we2:hover{
    background-color: #fff;
    color: #005bac;
}
.list .navbar  .row .right .we1{
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}
.list .navbar  .row .right .we1 .mune{
    width: 158px;
    height: 320px;
    background-color:#fff;
    border: 1px solid #dddddd;
    position: absolute;
    left: 0;
    bottom: -322px;
    /*z-index: -1;*/
}
.list .navbar  .row .right .we1 .mune1{
    width: 157px;
    height: 79px;
    background-color:#fff;
    position: absolute;
    left: 0;
    bottom: -80px;
}
.list .navbar  .row .right .we1 .mune .rng{
    display: block;
    width: 118px;
    height: 20px;
    padding: 10px 20px;
    color: #333333;
    font-size: 14px;
    line-height: 1.53846154;
    font-weight: 400;
}
.list .navbar  .row .right .we1 .mune .rng:hover{
    background-color: #0071D5;
    color:#fff;
}
.list .navbar  .row .right .we1:hover .mune{
    z-index: 3;
}
.list .picture {
    width: 1349px;
    height: 179.16px;
}
.list .published-commend{
    width: 1170px;
    height: 501px;
    margin:0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

}
.list .published-commend .left{
    width: 863.5px;
    height: 501px;
    padding: 0 7px;

}
.list .published-commend .left .con{
    width: 863.5px;
    height: 487px;
    border:1px solid #e5e5e5;
}
.list .published-commend .left .top{
    width: 831.5px;
    height: 24px;
    border-bottom: 1px solid #dddddd;
    padding:8px 15px;
}
.list .published-commend .left .top span{
    font-size: 16px;
    color: #0071d5;
    font-weight: normal;
    font-family: "microsoft yahei";
    line-height: 1.53846154;
}
.list .published-commend .left .bottom{
    width: 861.5px;
    height: 414px;
    padding: 15px;
}
.list .published-commend .left .bottom .content{
    width: 822px;
    height: 399px;
    padding-right: 10px;
}
.list .published-commend .left .bottom .first{
    width: 841px;
    height: 32px;
    display: flex;
    position: relative;
    margin-bottom: 20px;
}
.list .published-commend .left .bottom .first span{
    font-size: 13px;
    font-weight: bold;
    margin-left: 25px;
    position: absolute;
    top: 10px;
}
.list .published-commend .left .bottom .first .name{
    width: 313px;
    height: 20px;
    padding:5px 8px;
    margin-left: 63px;
}
.list .published-commend .left .bottom .first .name:focus{
    outline: none;
}
.list .published-commend .left .bottom .first span:nth-of-type(2){
    font-size: 12px;
    color:#996337;
    margin-left: 400px;
}

.list .published-commend .left .bottom .second{
     width: 841px;
     height: 32px;
     display: flex;
     position: relative;
     margin-bottom: 20px;
 }
.list .published-commend .left .bottom .second span{
    font-size: 12px;
    font-weight: bold;
    margin-left: 25px;
    position: absolute;
    top: 10px;
}
.list .published-commend .left .bottom .second .name{
    width: 313px;
    height: 20px;
    padding:5px 8px;
    margin-left: 63px;
}
.list .published-commend .left .bottom .second .name:focus{
    outline: none;
}
.list .published-commend .left .bottom .second span:nth-of-type(2){
    color: #bd7b46;
    margin-left: 420px;
}
.list .published-commend .left .bottom .second span:nth-of-type(2):hover{
    color:#996337 ;
}
.list .published-commend .left .bottom .third{
    position: relative;
    top: 0;
    left: 0;
    font-size: 13px;
    color: #666;
}
.list .published-commend .left .bottom .third span{
    font-size: 13px;
    font-weight: bold;
    line-height: 1px;
    margin-left: 25px;
    margin-bottom: 20px;
    position: absolute;
    top: 10px;
}

.list .published-commend .left .bottom .third textarea{
    resize: none;
    width: 733px;
    height: 72px;
    margin-bottom: 20px;
    margin-left: 63px;
}
.list .published-commend .left .bottom .third textarea:focus{
    outline: none;
}

.list .published-commend .left .bottom  .as{
    width: 52px;
    height: 32px;
    padding: 5px 12px;
    background-color: #145ccd;
    display: block;
    margin-left: 63px;
}
.list .published-commend .left .bottom .hjf{
    margin-left: 63px;
    margin-bottom: 20px;
}
.list .published-commend .right{
    width: 292.5px;
    height: 388px;
}
.list .published-commend  .right .top{
    width: 244.5px;
    height: 21px;
    padding:10px 16px;
    border: 1px solid #dddddd;
    background-color: #145ccd;
    color: #fff;
    text-align: center;
}

.list .published-commend  .right .imformation{
    width: 278.5px;
    height: 285px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    margin-top: 20px;
}
.list .published-commend  .right .imformation  .header{
    padding: 8px 15px;
    border-bottom: 1px solid #DDDDDD;
    box-sizing: border-box;
    font-size:16px;
    color:#0071d5;
    font-weight: normal;
    line-height: 20px;
}
.list .published-commend  .right .imformation .last{
    width: 246.5px;
    height: 222px;
    padding: 10px 15px;
    font-size: 14px;
    color: #333;
    font-weight: normal;
    font-family: "microsoft yahei";
}
.list .published-commend  .right .imformation .last .son{
    width: 246px;
    height: 26px;
    font-size: 14px;
    color: #333;
    font-weight: normal;
    font-family: "microsoft yahei";
}
.list .published-commend  .right .imformation .last .son span{
    font-size: 13px;
    color: #333;
    font-weight: bold;
}













/* 底部开始 */
footer{
    width:1349px;
    height: 80px;
    background-color: #232323;
    /*margin-top: 50px;*/
}
footer .con{
    width: 1170px;
    height: 20px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
footer .con .map{
    color:#777;
    font-size: 13px;
    font-weight: normal;
}
footer .con .map{
    transition: all 0.4s
}
footer .con .map:hover{
    color: #fff;
    text-decoration: underline;
}
footer .con .company{
    font-size: 14px;
    color: #aaa;
    font-family: "microsoft yahei";
}
footer .con .company .b,footer .con .company .icpinfo{
    color:#666;
    font-size: 13px;
    font-weight: normal;
    transition: all 0.4s;
}
footer .con .company .b:hover{
    color: #fff;
    text-decoration: underline;
}
footer .con .company .icpinfo:hover{
    color: #fff;
    text-decoration: underline;
}
footer .con .company .iconfont{
    width: 14px;
    height: 14px;
    margin-left: -5px;
    font-size: 14px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}
footer .con .company .iconfont .info{
    width: 140px;
    height: 57px;
    position:absolute;
    bottom: -25px;
    right: -146px;
    background-color: #fff;
    border-radius: 4px;
    color:#232323;
    text-align: center;
    background-color: #232323;
    font-size: 14px;
}
footer .con .company .iconfont:hover .info{
    background: #353535;
    color: #F8F8F8;
}
footer .con .made-by{
    font-size: 13px;
    color: #777;
}
footer .con .made-by:hover{
    color: #fff;
}
/* 底部结束 */