@import "base.css";
.tage-title{
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid #eee;
}
.tage-title .title-left{
    width: 300px;
    height: 80px;
    background-color: #004098;
    display: flex;
    justify-content: center;
    align-content: center;
}
.tage-title .title-left .logo{
    width: 64.72px;
    height: 64px;
    background: url('../img/logo.png') no-repeat top/contain;
}
.tage-title .title-right{
    width: 800px;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}
.tage-title .title-right a{
    display: block;
}
.tage-title .title-right a:hover em{
    color: #0459D1;
}
.tage-title .title-right a:hover span{
    color: #82ACE8;
}
.tage-title .title-right .nav1{
    width: 48px;
    height: 45px;
    padding: 8px 22px;
}
.tage-title .title-right .nav2{
    width: 96px;
    height: 45px;
    padding: 8px 22px;
}
.tage-title .title-right .nav3{
    width: 96px;
    height: 45px;
    padding: 8px 22px;
}
.tage-title .title-right .nav4{
    width: 120px;
    height: 45px;
    padding: 8px 22px;
}
.tage-title .title-right .nav5{
    width: 64px;
    height: 45px;
    padding: 8px 22px;
}
.tage-title .title-right .nav6{
    width: 72px;
    height: 45px;
    padding: 8px 22px;
}
.tage-title .title-right em{
    display: block;
    font-style: normal;
    font-size: 16px;
    line-height: 1.42em;
}
.tage-title .title-right span {
    font-size: 12px;
    color: #B6B6B6;
}
.title{
    width: 1200px;
    height: 21px;
    margin:0 auto;
    padding:48px 0 8px 0;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
h1{
    width: 1200px;
    height: 64px;
    font-size: 36px;
    margin:20px auto;
}
.clear-fix{
    width: 1200px;
    height: 21px;
    padding:0 0 15px;
    margin: 0 auto 20px;
    font-size: 14px;
    color: #333;
}
.introduce{
    width: 1200px;
    height: 218px;
    margin: 0 auto;
    border-top: 1px solid #000;
    font-size: 15px;
    text-align: center;
}
.introduce p{
    width: 1200px;
    height: 27px;
    margin:8px auto;
}
.con-introduce{
    width:1200px;
    height: 148px;
    border-top: 1px solid #000;
    text-align: center;
    font-size: 15px;
    margin:0 auto;
}
.con-introduce p{
    width: 1200px;
    height: 27px;
    margin:8px auto;
}
.imgbox{
    width: 1200px;
    height: 900px;
    margin: 0 auto;
}
.img-introduce{
    width: 1200px;
    height: 78px;
    text-align: center;
    font-size: 15px;
    margin:0 auto;
}
.img-introduce p{
    width: 1200px;
    height: 27px;
    margin:8px auto;
}
.fre-img {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
}
.blank{
    width: 100%;
    height: 40px;
}
.share{
    width: 1200px;
    height: 40px;
    padding-top: 16px;
    margin:0 auto 40px;
    display: flex;
    border-top: 1px solid #eee;
}
.share span{
    display: block;
    width: 42px;
    height: 21px;
    margin-bottom: 10px;
    color: #888;
    font-size: 14px;
}
.share a{
    display: block;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    margin-bottom: 12px;
    font-size: 27px;
}
.relation{
    width: 100%;
    height: 405px;
}
.relation .do-body{
    width: 1200px;
    height: 100%;
    margin: 3px auto 0;
    border-top: 1px solid #eee;
}
.relation .do-body .element-space{
    width: 100%;
    height: 0;
    padding-top: 60px;
}
.relation .do-body .do-row{
    width: 100%;
    height: 241px;
}
.relation .do-body .do-row .left-content-box{
    width: 400px;
    height: 100%;
    float: left;
}
.relation .do-body .do-row .left-content-box .element-space-pc{
    width: 100%;
    height: 48px;
}
.relation .do-body .do-row .left-content-box .appoint{
    width: 100%;
    height: 52px;
}
.relation .do-body .do-row .left-content-box .appoint img{
    margin-left: 125px;
}
.relation .do-body .do-row .left-content-box .ele-text{
    width: 100%;
    height: 35px;
    padding:5px 0 5px;
    position: relative;
    top: 0;
    left: 0;
}
.relation .do-body .do-row .left-content-box .ele-text .dynamic{
    width: 48px;
    height: 1px;
    background-color: #e3e3e3;
    margin-top: 10px;
    position: absolute;
    top: 31px;
    left: 170px;
    transition: all 0.5s;
}
.relation .do-body .do-row .left-content-box .ele-text:hover .dynamic{
    width: 150px;
    left: 125px;
}
.relation .do-body .do-row .mid-content-box{
    width: 400px;
    height: 100%;
    float: left;
}
.relation .do-body .do-row .mid-content-box .do-from-input{
    width: 389px;
    height: 51px;
    padding-right: 10px;
    margin-bottom: 15px;
}
.relation .do-body .do-row .mid-content-box .do-from-input .inputbtn{
    padding:22px 10px;
    margin-bottom: 5px;
    width: 100%;
    height: 34px;
    font-size: 14px;
    color: #555;
    border:1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: all 0.5s;
    box-sizing: border-box;
}
.relation .do-body .do-row .mid-content-box .select-input{
    border-radius: 0;
    height: 34px;
    width: 100%;
    padding:6px 12px;
    font-size: 14px;
    color: #555;
    border:1px solid #e0e0e0;
    box-sizing: border-box;
}
.relation .do-body .do-row .mid-content-box .do-from-select{
    width: 388px;
    height: 34px;
    margin-bottom: 15px;
}
.relation .do-body .do-row .mid-content-box .do-from-button{
    width: 160px;
    height: 35px;
    margin-bottom: 15px;
}
.relation .do-body .do-row .mid-content-box .do-from-button .btn-lg{
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    padding:8px 18px;
    text-align: center;
    box-shadow: 0 0.5px 3px rgba(0,0,0,0.3);
    box-sizing: border-box;
    background-color: #004098;
}
.relation .do-body .do-row .wechat-img{
    width: 276px;
    height: 206px;
    padding:12px;
    float: right;
}
.relation .do-body .do-row .wechat-img p{
    width: 276px;
    height: 18px;
    text-align: center;
    margin:0 0 8px;
    color: rgba(31,37,38,0.75);
    font-size: 14px;
}
.relation .do-body .do-row .wechat-img .box{
    width: 276px;
    height: 187.67px;
    display: flex;
    justify-content: center;
}
footer{
    width: 100%;
    height: 477px;
    background-color: #333;
}
.list{
    width: 1232px;
    height: 420px;
    margin: 30px auto 0;
    display: flex;
}
.list .bigbox{
    width: 330px;
    height: 100%;
    margin: 0 16px 0 16px;
    color: #fff;
}
.list .bigbox:nth-child(2){
    width: 232px;
}
.list .bigbox:nth-child(3){
    width: 316px;
}
.list .bigbox:nth-child(4){
    width: 228px;
}
.list .bigbox dt{
    font-size: 18px;
    /* margin: 28px 0 8px 0;*/
    padding-top: 28px;
}
.list .bigbox dt:nth-child(1),.list .bigbox dt:nth-child(3),.list .bigbox dt:nth-child(5),.list .bigbox dt:nth-child(7){
    margin-top: 0;
}
.list .bigbox dd{
    font-size: 14px;
    margin: 8px 0 8px 0;
}
.final{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    border-top: 1px solid #fff;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 14px;
}
.fixed{
    width: 84px;
    height: 213px;
    padding-left: 40px;
    position: fixed;
    bottom: 8%;
    right: 10px;
    z-index: 999;
}
.fixed .son{
    width: 56px;
    height: 36px;
    padding:10px 14px;
    font-size: 16px;
    color: white;
    margin-bottom: 15px;
    background-color: #999;
    cursor: pointer;
}
.fixed .son p{
    display: block;
    margin-bottom: 8px;
    width: 56px;
    height: 14px;
    font-size: 14px;
    text-align: center;
}