@import url('base.css');
body{
	width: 100%;
	height: 100%;
	background-color: #fff;
}
/* 头部开始 */
.header{
	width: 100%;
	height: 72px;
}
.header .headwar{
	width: 1002px;
	height: 100%;
	margin: 0 auto;
}
.header .logo{
	width: 210px;
	height: 28px;
	float: left;
	margin-top: 20px;
}
.header .logo a{
	display: block;
}
.header .nav{
	width: 617px;
	height: 72px;
	float: right;
	margin-right:-25px ;
}
.header .nav li{
	width: 104px;
	height: 72px;
	padding-right:1px;
	background: url("../img/nav.gif") right center no-repeat;
	float: left;
}
.header .nav li a{
	display: block;
	width: 104px;
	height: 100%;
	padding: 0 24px;
	font-size: 14px;
	line-height: 72px;
	color: #333;
	box-sizing: border-box;
}
.header .nav li:first-child{
	width: 90px;
}
.header .nav li:first-child a{
	width: 90px;
}
.header .nav li:last-child{
	background: none;
}
.header .nav li:nth-last-child(2) a{
	color:#146ec4 ;
	background: url("../img/navon.gif") bottom repeat-x;
}
.header .nav li:hover a{
	border-bottom: 3px solid #146ec4;
	color: #146ec4;
}
.header .nav li:first-child:hover a,.header .nav li:last-child:hover a{
	border: 0;
}
/* 头部结束 */
/* 大图片 pagebanner */
.pagebanner{
	width: 100%;
	height: 250px;
	background: url("../img/pagebanner.jpg") center no-repeat;
}
/* 大图片 pagebanner */
.pagenow{
	width: 100%;
	height: 40px;
	background-color:#f0f0f0;
	line-height: 40px;
	text-align: right;
	color: #666; 
	font-size: 12px;
}
.pagenow .wordpage{
	width: 1002px;
	height: 100%;
	margin: 0 auto;
}
.pagenow .wordpage a{
	color: #666;
}
.pagenow .wordpage a:hover{
	color:#146ec4 ;
}
/* 主体开始 */
.wal{
	width: 1002px;
	height: 380px;
	margin: 0 auto;
	overflow: hidden;
}
.wal .join{
	width: 100%;
	height: 250px;
	margin-top: 80px;
	display: flex;
	justify-content: space-around;
}
.wal .join .small{
	width: 206px;
	height: 250px;
	padding: 0 62px;
}
.wal .join .small a{
	display: block;
	height: 206px;
	text-align: center;
	font-size: 18px;
	background: url("../img/join.png") left top no-repeat;
	overflow: hidden;
	color: #333;
}
.wal .join .small a .bgimg{
	/* position: absolute;
	top:43px ;
	left: 0;
	right: 0;
	margin: 0 auto; */
	width: 62px;
	height: 62px;
	margin: 43px auto 36px;
}
.wal .join .small:first-child a .bgimg{
	background: url('../img/nimg62_1.png');
}

.wal .join .small a:hover{
	background: url('../img/join.png') right top no-repeat;
	color: #fff;
}
.wal .join .small:first-child a:hover .bgimg{
	background: url('../img/nimg62_1_1.png');
}
.wal .join .small:nth-child(2) a .bgimg{
	background: url('../img/nimg62_2.png');
}
.wal .join .small:nth-child(2) a:hover .bgimg{
	background: url('../img/nimg62_2_1.png');
}
.wal .join .small:nth-child(3) a .bgimg{
	background: url('../img/nimg62_4.png');
}
.wal .join .small:nth-child(3) a:hover .bgimg{
	background: url('../img/nimg62_4_1.png');
}
/* 主体结束 */
/* 底部开始 */
.footNav{
	width: 100%;
	height: 40px;
	background-color:#0756b3;
	text-align: center;
	line-height: 40px; 
	font-size: 12px;
}
.footNav a{
	display: inline-block;
	color: #fff;
	padding: 0 35px;
	background: url('../img/footNav.png') right center no-repeat;
}
.footNav a:last-child{
	background: none;
}
.foot{
	width: 100%;
	height: 31px;
	text-align: center;
	color: #666;
	line-height: 31px;
	font-size: 12px;
}
.foot a{
	display: inline-block;
	color: #666;
	font-size: 12px;
	margin-left: 50px;
}
.foot a:hover{
	color:#146ec4;
}
.foot .second{
	margin-left: 0;
}
.bot{
	width: 300px;
	height: 20px;
	margin: 0 auto;
	padding: 20px 0;
}
.bot a{
	display: block;
	width: 300px;
	height: 60px;
}
.bot a img{
	display: block;
	float: left;
}
.bot p{
	float: left;
	font-size: 12px;
	color: #939393;
	margin: 0 0 0 5px;
}
/* 底部结束 */